<header class="header">
<nav class="nav">
  <ul class="header_menu">
    <li class="header_menu_title"><%= link_to "Spotストッカー", root_path, class: "nav-link text-white" %></li>
    <li>
      <ul class="header_menu_inner">

      </ul>
    </li>
  </ul>
</nav>
</header>