body {
  overflow: visible;
  h1{
    font-size: 30px;
  }
}

.flash {
  color: white;
  text-align: center;
  &__alert{
    background-color: red;
  }
  &__notice {
    background-color: #56CCF2;
  }
}

.error_message {
  text-align: center;
  color: red;
  margin: 0 0 10px 0;

}

.field_with_errors {
  display: contents;
}

// header
.header {
  background: #F8B44E;
  padding: 0px 10px;
  .nav {
    .header_menu {
      display: flex;
      width: 100%;
      height: 70px;
      position: relative;
      margin: 0;
      padding: 5px 0px;
      font-size:15px;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        margin: 0 5px;
        padding: 0;
        a {
          padding: 2px 8px;
        }
      }
      &_title {
        color: #fff;
        font-size: 25px;
        font-weight: bold;
      }
      &_inner {
        display: flex;
        padding: 0;
        align-items: center;
      }
    }
  }
}

.size {
  width:700px;
}

.icon-size{
  width:27px;
}

.user_name {
  padding: 0px;
}

.btn-header {
  border: solid 2px #fff;
  color: #fff;
  position:relative;
  bottom: 7px;
    &:hover{
      border: solid 2px #F8B44E;
      color: #F8B44E;
      background-color: #fff;
    }
}

.text-header {
  margin-top:5px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  position:relative;
  right: 15px;
}

.btn-header-circle{
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0px 0;
  font-size: 20px;
  border-radius: 25px;
}

.post-circle{
  margin-top:5px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  position:relative;
  right: 17px;
}

.userHeader_img {
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

//comment
.comment-created-at {
  float: right;
}

// border
.border-info {
  margin-top: 2rem !important;
  padding-top: 2rem !important;
  border-top: 1px solid #aaa !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-left: 0px !important;
}

// button
.deleteBtn {
  background: #c9442d;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  cursor: pointer;
  &:hover {
    opacity: .6;
  }
}

.btn-circle{
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 3px 0;
  font-size: 23px;
  line-height: 1.428571429;
  border-radius: 25px;
}

// like
.like {
  text-align: center;
  color: #F8B44E;
  font-weight: 700;
  margin-top: 40px;
  font-size: 20px;
}

.btn-liked {
  background-color: #F8B44E;
  color: #fff;
    &:hover{
      color: #fff;
    }
}

.btn-like {
  border: solid 2px #F8B44E;
  color: #F8B44E;
    &:hover{
      color: #fff;
    }
}

// stock
.stock {
  text-align: center;
  margin-top: 50px;
}

.btn-stock {
  border: solid 2px;
  &:hover{
    color: #fff;
    background-color: #28A745 !important;
    border: solid 2px #28A745;
  }
}

// comment
.comment {
  text-align: center;
  margin-top: 30px;
  color: #56CCF2;
  font-weight: 700;
}

.btn-comment {
  background: #56CCF2;
  color: #fff
}


// top
.top {
  text-align: center;
}
.box {
  width: 100%;
  max-width: 1000px;
  max-height: 500px;
}


// sign_up
.sinupPage {
  margin-top: 10vh;
  .titleArea {
    text-align: center;
    h1 {font-size: 2rem;}
  }
  .signupForm {
    .form-group {
      margin: 0 auto 1.5rem auto;
      max-width: 500px;
      .form-control {
        background: #f6f8fa;
      }
    }
  }
  .submitBtn {
    background: #F8B44E;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
}


.notice,
.alert {
  display: none;
}

.sinupPage {
  .header {
    padding: 20px;
    text-align: center;
  }
  .userProfileImg {
    position: relative;
    margin: 0 auto 10px auto;
    width: 150px;
    height: 150px;
    background: #F8B44E;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:hover .userProfileImg_description {
      opacity: 1;
    }
    &_description {
      transition: opacity .5s;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(5, 5, 5, .5);
      color: #fff;
    }
    .fa-camera {
      color: #fff;
    }
    &>input {
      display: none;
    }
  }
  .userImgPreview {
    margin: 0 auto;
    display: none;
    text-align: center;
    &.is-active {
      display: block;
    }
    &_content {
      max-width: 100px;
      margin: 10px;
      padding: 10px;
      border: solid thin lightgray;
      border-radius: 5px;
    }
    &_text {
      font-size: 11px;
    }
  }
}


// devise_shared_links
.acountPage_link {
  & > a {
    color: #0075c1;
  }
}

// sign_in
.signinPage {
  margin-top: 10vh;
  .title {
    margin: 0;
    text-align: center;
  }
  .new_user {
    .form-group {
      max-width: 500px;
      margin: 0 auto 1rem;
      .form-control {
        background: #f6f8fa;
      }
    }
  }
  .loginBtn {
    padding: 12px;
    width: 200px;
    border-radius: 21px;
    background: #F8B44E;
    color: #fff;
    text-align: center;
    border: none;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}


// users/show
.userInfo_img {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  }

.user_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-size {
  width:100%;
  height: 150px;
  border: solid 1px #aaa;
  border-radius: 5px;
  background-color: #eee;
}

// spots/index

.btn-newpost {
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  background: #F8B44E;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 15px;
  transition: opacity .3s;
  cursor: pointer;
  &:hover {
    opacity: .7;
    color: #fff;
  }
}

.btn-stocks {
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  background: #28A745;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 15px;
  transition: opacity .3s;
  cursor: pointer;
  &:hover {
    opacity: .7;
    color: #fff;
  }
}