body {
  overflow: visible;
  word-wrap: break-word;
  overflow-wrap: break-word;
  h1{
    font-size: 30px;
  }
}

.top-margin{
  margin-top: 1.5rem;
}


.error_message {
  text-align: center;
  color: red;
  margin: 0 0 10px 0;

}

.field_with_errors {
  display: contents;
}

// header
.header {
  background: #F8B44E;
  padding: 0px 10px;
  .nav {
    .header_menu {
      display: flex;
      width: 100%;
      height: 70px;
      position: relative;
      margin: 0;
      padding: 5px 0px;
      font-size:14px;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        margin: 0 5px;
        padding: 0;
        a {
          padding: 2px 8px;
        }
      }
      &_title {
        color: #fff;
        font-size: 22px;
        font-weight: bolder;
        transition: opacity .3s;
        &:hover {
          opacity: .6;
        }
      }
      &_inner {
        display: flex;
        padding: 0;
        align-items: center;
      }
    }
  }
}


.footer {
  background: #F8B44E;
  height: 20px 100%;
  padding: 15px;
}

.icon-footer {
  position:relative;
  top: -10px;
  right: 1px;
  font-size: 2.5rem;
}


.btn-footer {
  color: #fff;
  position:relative;
  bottom: 7px;
    &:hover{
      border: solid 1px #F8B44E;
      color: #F8B44E;
      background-color: #fff;
    }
}

.text-footer {
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  position:relative;
  top: -11px;
}

.btn-footer-circle{
  width: 39px;
  height: 37px;
  text-align: center;
  padding: 0px 0;
  font-size: 20px;
  border-radius: 25px;
}



.size {
  width:700px;
}

.icon-size{
  width:27px;
}

.user_name{
  padding: 0px;
}

.user_name_color{
  color: #fff;
  &:hover{
    color: #fff;
  }
}

.btn-header {
  border: solid 2px #fff;
  color: #fff;
  position:relative;
  bottom: 7px;
    &:hover{
      border: solid 2px #F8B44E;
      color: #F8B44E;
      background-color: #fff;
    }
}

.text-header {
  margin-top:5px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  position:relative;
  right: 15px;
}

.btn-header-circle{
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0px 0;
  font-size: 20px;
  border-radius: 25px;
}

.post-circle{
  margin-top:5px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  position:relative;
  right: 17px;
}

.userHeader_img {
  background-color:  rgba(0, 0, 0, 0.1);
  border: solid 1px  rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 20px;
  border-radius: 30%;
  overflow: hidden;
  display: inline-block;
}

//comment
.comment-created-at {
  float: right;
}

// border
.border-info {
  margin-top: 2rem !important;
  padding-top: 2rem !important;
  border-top: 1px solid #bbb !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-left: 0px !important;
}

// button
.deleteBtn {
  background: #c9442d;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  cursor: pointer;
  &:hover {
    opacity: .6;
  }
}

.btn-circle{
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 3px 0;
  font-size: 23px;
  line-height: 1.428571429;
  border-radius: 25px;
}

// like
.like {
  text-align: center;
  color: #F8B44E;
  font-weight: 700;
  margin-top: 40px;
  font-size: 20px;
}

.btn-like {
  position: relative;
  border: solid 2px #F8B44E;
  color: #F8B44E;
    &:hover{
      color: #fff;
    }
    &:hover .btn-notice{
      visibility:visible;
      opacity: 0.7;
      transition: 0.8s;
    }
}

.btn-liked {
  position: relative;
  background-color: #F8B44E;
  color: #fff;
    &:hover{
      color: #fff;
    }
    &:hover .btn-notice{
      visibility:visible;
      opacity: 0.7;
      transition: 0.8s;
    }
  }

.btn-notice{
  opacity: 0;
  visibility:hidden;
  font-size: .75rem;
  width: 130px;
  position: absolute;
  top: 0;
  left: 75px;
  padding: 8px;
  border-radius: 5px;
  background: #222;
  color: #fff;
  font-weight: bold;
}

.btn-notice:after {
  position: absolute;
  content: "";
  top: 50%;
  left: -20px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #222;
}

.btn-not-allowed-notice{
  cursor: not-allowed !important;
}

// stock
.stock {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.btn-stock {
  position: relative;
  border: solid 2px;
  &:hover{
    color: #fff;
    background-color: #28A745 !important;
    border: solid 2px #28A745;
  }
  &:hover .btn-notice{
    visibility:visible;
    opacity: 0.8;
    transition: .7s;
  }
}

.btn-stocked{
  position: relative;
  &:hover .btn-notice{
    visibility:visible;
    opacity: 0.8;
    transition: .7s;
  }
}

.stock-notice{
  width:100%;
  position: absolute;
  top: -20px;
  color: #28A745;
  font-size: .65rem;
  font-weight: bold;
}

// comment
.comment {
  text-align: center;
  margin-top: 30px;
  color: #56CCF2;
  font-weight: 700;
}

.btn-comment {
  background: #56CCF2;
  color: #fff;
  transition: opacity .5s;
  &:hover{
    color: #fff;
    opacity: .6;
  }
}


// top
.top {
  text-align: center;
}
.box {
  width: 100%;
  max-width: 1000px;
  max-height: 500px;
}

.top-image{
  width: 100%;
  height: 550px;
  background-image: url("/images/top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
}

.top-font{
  position: relative;
  top: 200px;
  left: 100px;
  color: white;
  text-shadow: 2px 2px 2px #333;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Meiryo UI',sans-serif;
}

.top-title{
  text-align: center;
  margin-top: 60px;
  &-image{
    width: 220px;
  }
  &-head{
    vertical-align: middle;
    font-size: 1.7rem;
  }
  &-margin{
    margin: 80px 0;
  }
  &-font{
    margin-top: 20px;
    font-size: 1.4rem;
  }
  &-icon{
    font-size: 2.5rem;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  &-point{
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  &-guide{
    color: #666;
  }
  &-point1{
    background-image: url("/images/top-point1.png");
    background-size: cover;
    height: 280px;
  }
  &-point2{
    background-image: url("/images/top-point2.png");
    background-size: cover;
    height: 280px;
  }
  &-point3{
    background-image: url("/images/top-point3.png");
    background-size: cover;
    height: 250px;
  }
}

.top-description{
  &-image{
    background-image: url("/images/top2.jpg");
    background-size: cover;
    height: 650px;
  }
  &-title{
    font-size: 2rem;
    &-head{
      font-size: 3rem;
      font-weight: bolder;
      color: #F8B44E;
    }
  }
  &-guide{
    margin-top: 30px;
    font-size: 1.2rem;
  }
}

.text-border{
  border-bottom: solid 1px;
}

.top-button-sigin{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  background: #F8B44E;
  color: #fff;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.7;
    color: #fff;
  }
}
.top-button-login{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  background: #fff;
  color: #666;
  border: solid 1.5px #666;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.7;
    color: #666;
  }
}


.sign-up-image{
  background-image: url("/images/sign-up.png");
  background-size: cover;
  height: 200px;
  width: 320px;
  margin: 0 auto 50px;
}

.user-edit-image{
  background-image: url("/images/user-edit.png");
  background-size: cover;
  height: 200px;
  width: 360px;
  margin: 0 auto 50px;
}

.log-in-image{
  background-image: url("/images/log-in.png");
  background-size: cover;
  height: 200px;
  width: 325px;
  margin: 0 auto 50px;
}

.eye-catching-image{
  background-image: url("/images/eye-catching.png");
  background-size: cover;
  height: 145px;
  width: 80%;
  margin: 0 auto;
}

// sign_up
.sinupPage {
  margin-top: 10vh;
  .titleArea {
    text-align: center;
    h1 {font-size: 2rem;}
  }
  .signupForm {
    .form-group {
      margin: 0 auto 1.5rem auto;
      max-width: 500px;
      .form-control {
        background: #f6f8fa;
      }
    }
  }
  .submitBtn {
    background: #F8B44E;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
}


.notice,
.alert {
  margin-bottom: 0;
}

.sinupPage {
  .header {
    padding: 20px;
    text-align: center;
  }
  .userProfileImg {
    position: relative;
    margin: 0 auto 10px auto;
    width: 150px;
    height: 150px;
    background: #F8B44E;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:hover .userProfileImg_description {
      opacity: 1;
    }
    &_description {
      transition: opacity .5s;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(5, 5, 5, .5);
      color: #fff;
    }
    .fa-camera {
      color: #fff;
    }
    &>input {
      display: none;
    }
  }
  .userImgPreview {
    margin: 0 auto;
    display: none;
    text-align: center;
    &.is-active {
      display: block;
    }
    &_content {
      max-width: 100px;
      margin: 10px;
      padding: 10px;
      border: solid thin lightgray;
      border-radius: 5px;
    }
    &_text {
      font-size: 11px;
    }
  }
}


// devise_shared_links
.acountPage_link {
  & > a {
    color: #0075c1;
  }
}

// sign_in
.signinPage {
  margin-top: 10vh;
  .title {
    margin: 0;
    text-align: center;
  }
  .new_user {
    .form-group {
      max-width: 500px;
      margin: 0 auto 1rem;
      .form-control {
        background: #f6f8fa;
      }
    }
  }
  .loginBtn {
    padding: 12px;
    width: 200px;
    border-radius: 21px;
    background: #F8B44E;
    color: #fff;
    text-align: center;
    border: none;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}

.test-login-btn {
  padding: 12px;
  width: 200px;
  border-radius: 21px;
  background: #28A745;
  color: #fff;
  text-align: center;
  border: none;
  opacity: 1;
  transition: opacity .5s;
  cursor: pointer;
  &:hover {
    opacity: .7;
    color: #fff;
  }
}

// users/show
.userInfo_img {
  background-color:  rgba(0, 0, 0, 0.1);
  border: solid 1px  rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  border-radius: 30%;
  overflow: hidden;
  display: inline-block;
  }

.user_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-size {
  width:100%;
  height: 150px;
  border: solid 1px #aaa;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  overflow: auto;
}

// spots/index

.spot-index-title{
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spot-index-address{
  line-height:48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-newpost {
  font-size: 1.2rem;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  background: #F8B44E;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 15px;
  transition: opacity .3s;
  cursor: pointer;
  &:hover {
    opacity: .7;
    color: #fff;
  }
}

.btn-stocks {
  font-size: 1.2rem;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  background: #28A745;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 15px;
  transition: opacity .3s;
  cursor: pointer;
  &:hover {
    opacity: .7;
    color: #fff;
  }
}

.btn-prefectures {
  font-size: 1.2rem;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  background: #2D9CDB;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 15px;
  transition: opacity .3s;
  cursor: pointer;
  &:hover {
    opacity: .7;
    color: #fff;
  }
}

.thumbnail_image{
  width: 100%;
  height: 150px;
}

.text-box{
  height: 5rem;
}

.side_bar{
  position:sticky;
  top:20px;
}

.spot-content{
  height:125px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.search-area{
display: block;
width: 100%;
height: calc(1.5em + 0.75rem + 2px);
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.3rem 0 0 0.3rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0 0.3rem 0.3rem 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ProfileImg {
  padding: 10px;
  border: solid 2px lightgray;
  position: relative;
  margin: 0 auto 10px auto;
  width: 75%;
  height: 200px;
  border-radius: 5px;
  background-image: url("/images/thumbnail.png");
  background-size: cover;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  &:hover .ProfileImg_description {
    opacity: 1;
  }
  &_description {
    transition: opacity .5s;
    opacity: 0;
    width: 100%;
    height: auto;
    position: absolute;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(5, 5, 5, .5);
    color: #fff;
  }
  .fa-camera {
    color: #fff;
  }
  &>input {
    display: none;
  }
}
.userImgPreview {
  margin: 0 auto;
  display: none;
  text-align: center;
  &.is-active {
    display: block;
  }
  &_content {
    max-width: 50%;
    margin: 10px;
    padding: 10px;
    border: solid thin lightgray;
    border-radius: 5px;
  }
  &_text {
    font-size: 14px;
  }
}


// prefecture/index

.prefecture-box{
  text-align: center;
  width: 90px;
  height: 90px;
}

.prefecture-top{
  display: flex;
  font-size: 1.4rem;
  color: #6c757d;
  border: solid 2px #6c757d;
  border-radius: 15px;
  text-align: center;
  width: 280px;
  margin: 10px;
  padding: 8px;
  transition: opacity .4s;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
    color: #6c757d;
    text-decoration: none;
  }
}

.prefecture-img{
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 15px;
  background-size: cover;
}

.tokyo-img{
  background-image: url("/images/tokyo.jpg");
}
.chiba-img{
  background-image: url("/images/chiba.jpg");
}

.kanagawa-img{
  background-image: url("/images/kanagawa.jpg");
}

.osaka-img{
  background-image: url("/images/osaka.jpg");
}

.kyoto-img{
  background-image: url("/images/kyoto.jpg");
}

.hukuoka-img{
  background-image: url("/images/hukuoka.jpg");
}


.fa-map-marker-alt{
  margin: 0 2px;
}

.spot-show-content{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  margin: 30px 0 2rem;
  overflow: hidden;
}

#map{
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 15px -10px;
}

.box-shadow{
  box-shadow: 6px 6px 8px -6px gray;
}

.btn-signin{
  font-size: 1.1rem;
  background: #F8B44E;
  color: #fff;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.7;
    color: #fff;
  }
}

.btn-login{
  font-size: 1.1rem;
  background: #fff;
  color: #666;
  border: solid 1.5px #666;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.7;
    color: #666;
  }
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background: #F8B44E;     /*背景の色を変える*/
  border-color: #F8B44E;
  &:hover {
    color: #fff;
  }
}

.page-link {
  color: #F8B44E;
  &:hover {
    z-index: 2;
    color: #F8B44E;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
}